:root {
  --color1: #ff8fc9;
  --color2: #f50580;
  --color3: #f6f9fd;
  --color4: #fff;
  --color5: #263238;
  --color6: #121212;
  --color7: #fdd8ea;
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}
.color1 {
  color: var(--color1);
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.color5 {
  color: var(--color5);
}
.color6 {
  color: var(--color6);
}
.color7 {
  color: var(--color7);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color6);
}
a {
  color: var(--color6);
  text-decoration: none;
}
a:hover {
  color: var(--color2);
  text-decoration: none;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-family: "Montserrat", sans-serif;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0;
}
.container,
.container-fluid {
  width: 100%;
  padding-right:0.75rem;
  padding-left: 0.75rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
}
@media (min-width: 768px) {
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}
.m-1 {
  margin: 0.25rem !important;
}
.mx-3 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.mt--70 {
  margin-top: -70px !important;
}
@media (max-width: 992px) {
  .mt--70 {
    margin-top: 0 !important;
  }
}
.m-a {
  display: block;
  margin: 0 auto;
}
.ms-5 {
  margin-left: 3rem !important;
}
.ps-3 {
  padding-left: 1rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.pt-5 {
  padding-top: 2.3rem !important;
}
@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0 !important;
  }
}
@media (max-width: 768px) {
  .ms-5 {
    margin-left: 0rem !important;
  }
  .ps-3 {
    padding-left: 0rem !important;
  }
}
@media (min-width: 992px) {
  .mt-lg-0 {
    margin-top: 0 !important;
  }
}
.d-flex {
  display: flex !important;
}
.d-none {
  display: none !important;
}
@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}
.flex-wrap {
  flex-wrap: wrap !important;
}
.flex-column {
  flex-direction: column !important;
}
.align-items-center {
  align-items: center !important;
}
.align-items-start {
  align-items: flex-start !important;
}
.align-items-end {
  align-items: flex-end !important;
}
.align-items-stretch {
  align-items: stretch !important;
}
.justify-content-end {
  justify-content: flex-end !important;
}
.justify-content-around {
  justify-content: space-around !important;
}
.justify-content-center {
  justify-content: center !important;
}
.justify-content-between {
  justify-content: space-between !important;
}
.justify-content-start {
  justify-content: flex-start !important;
}
@media (min-width: 768px) {
  .justify-content-md-between {
    justify-content: space-between !important;
  }
}
.text-center {
  text-align: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* First-screen */
.first-screen {
  height: 100vh;
}
@media (max-width: 992px) {
  .first-screen {
    height: auto;
  }
}
.first-screen_background {
  top: 0;
  right: 0;
  width: 50%;
  height: 75%;
  background: var(--color7);
  border-radius: 0 0 0 100%;
  position: absolute;
  z-index: -1;
  }
.hero {
  padding-bottom: 50px;
}
.first-screen .hero_description {
  padding: 240px 0 0 65px;
  margin: 0;
}
@media (max-width: 768px) {
  .first-screen .hero_description {
    padding: 60px 25px 0 25px;
    margin: 0;
  }
}
.first-screen h2,
h3,
p {
  margin: 0;
}
.first-screen h2 {
  font-size: 4.547rem;
  font-weight: 700;
  margin: 0;
}
.first-screen h3 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 0;
}
.first-screen p {
  font-size: 2.05rem;
  font-weight: 600;
  margin: 12px 0 0 0;
}
.first-screen .btn-get-started,
.programs .btn-get-started {
  max-width: 450px;
  font-weight: 600;
  font-size: 1.7rem;
  letter-spacing: 1px;
  display: inline-block;
  text-align: center;
  padding: 13px 55px;
  border-radius: 49px;
  transition: 0.5s;
  color: var(--color6);
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: var(--color2);
  margin-top: 55px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.first-screen .btn-get-started:hover,
.programs .btn-get-started:hover {
  background: var(--color1);
}
.first-screen .hero_img {
  padding: 40px 0 0 0;
}

/* Header */
header {
  z-index: 997;
  padding: 10px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
header .logo {
  margin-left: 53px;
  margin-top: 3px;
}
header .logo img {
  height: 53px;
}
footer .logo img {
  max-width: 200px;
}
header .phone-icon,
footer .phone-icon {
  font-size: 2rem;
  margin-right: 15px;
}
header .phone,
footer .phone {
  font-size: 1.3125rem;
  margin-right: 28px;
  padding-top: 3px;
}

/* Nav */
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0 10px;
}
.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-sm,
.navbar > .container-md,
.navbar > .container-lg,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
  margin-right: 1.375rem;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3125rem;
  font-weight: 500;
  color: var(--color6);
  white-space: nowrap;
  transition: 0.3s;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: var(--color2);
}

/* Mobile Navigation */
.mobile-nav-toggle {
  color: var(--color6);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: var(--color4);
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }
  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 12, 21, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: var(--color4);
  opacity: 0.9;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a {
  padding: 10px 20px;
  font-size: 1.125rem;
  color: var(--color6);
}
.navbar-mobile a:focus,
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
  color: var(--color2);
}

/* Section-Title */
.section-title h2 {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 0;
  margin: 50px 0;
  letter-spacing: 2px;
  color: var(--color6);
  text-align: center;
}

/* Training */
.training {
  position: relative;
  margin: 0;
  padding: 50px 0;
}
.training_wave {
  z-index:-1;
  position: absolute;
  top: 0;  
}
.training_item {
  width: 90%;
  text-align: center;
  margin: 20px auto;   
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media (min-width: 992px) {
  .training_item {
    flex: 0 0 auto;
    width: 45%;
    margin: 20px;  
  }
}
@media (min-width: 1200px) {
  .training_item {
    flex: 0 0 auto;
    width: 20%;
  }
}
.training_item i {
  color: var(--color6);
  font-size: max(2rem, min(5rem, calc(100vw*5/75)));;
  padding: 0;
  margin: 0;
}
.training_item h4 {
  color: var(--color2);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
}
.training_item p {
  padding: 45px;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--color5);
}

/* Lessons */
.lessons { 
  position: relative;
  padding: 50px 0;
  background-color: var(--color3);
}
.lessons_item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 90%;
  text-align: center;
  margin: 20px auto;   
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 10px;
}
@media (min-width: 992px) {
  .lessons_item {
    flex: 0 0 auto;
    width: 40%;
    margin: 30px;
    padding: 20px 25px;  
  }
}
.lessons_item span {
  color: var(--color2);
  font-size: 5rem;
  font-weight: 500;
  line-height: 1;
}
.lessons_item h4 {
  color: var(--color6);
  font-size: 1.5rem;
  font-weight: 600;
  padding-left: 30px;
}
.lessons_item p {
  max-width: 300px;
  padding: 10px;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.2;
  color: var(--color5);
}

/* Programs */
.programs {
  position: relative;
  padding: 50px 0px;
  margin-bottom: 50px;
}
.programs_wave {
  z-index:-1;
  position: absolute;
  top: 0;
  transform:rotate(180deg);
}
.programs_item {
  width: 90%;
  margin: 10px 10px 20px 10px;
  padding: 50px 40px;
  background-color: #fff;
  border-radius: 49px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  text-align: left;
}
@media (min-width: 768px) {
  .programs_item {
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .programs_item {
    flex: 0 0 auto;
    width: 30.9%;
  }
}
.programs_item h4 {
  color: var(--color6);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 30px;
}
.programs_item p {
  color: var(--color5);
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2;
}
.programs_item span {
  display: block;
  color: var(--color2);
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 30px;
}

/* FAQ */
.faq {
  padding: 50px 0;
}
.faq .accordion-list {
  max-width: 1000px;
  padding: 15px 100px 50px 0;
}
@media (max-width: 768px) {
  .faq .accordion-list {
    padding: 15px;
  }
}
.faq .accordion-list ul {
  list-style: none;
  align-items: center;
  padding: 20px;
}
.faq .accordion-list li + li {
  margin-top: 15px;
}
.faq .accordion-list li {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}
.faq .accordion-list a {
  display: block;
  position: relative;
  font-size: 1.7rem;
  line-height: 24px;
  font-weight: 600;
  padding: 30px;
  outline: none;
  color: var(--color5);
  cursor: pointer;
}
.faq .accordion-list i {
  font-size: 40px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .accordion-list p {
  background-color: var(--color1);
  border-radius: 20px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 0;
  padding: 20px;
}
.faq .accordion-list .icon-show {
  display: none;
}
.faq .accordion-list a.collapsed {
  color: var(--color1);
}
.faq .accordion-list a.collapsed:hover {
  color: var(--color2);
}
.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .accordion-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1024px) {
  .faq .content,
  .faq .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 992px) {
  .faq .content {
    padding: 30px 15px 0 15px;
  }
  .faq .accordion-list {
    padding-bottom: 30px;
  }
}
.collapse:not(.show) {
  display: none;
}

/* CTA */
.CTA {
  padding-bottom: 30px;
  margin-bottom: 50px;
  position: relative;
}
.CTA_wave {
  z-index:-1;
  position: absolute;
  top: 0;
}
.form-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-bottom: 2rem;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
}
.CTA input {
  width: 90%;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  background-color: var(--color3);
  border: 0px;
  border-radius: 15px;
  box-shadow: 10px 10px 15px #f778c633;
  margin: 30px;
  padding: 30px;
}
.CTA input:focus {
  border: 0px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.CTA button {
  width: 90%;
  font-weight: 500;
  color: var(--color6);
  user-select: none;
  background-color: var(--color2);
  border: 1px solid var(--color2);
  border-radius: 15px;
  padding: 1rem 1rem;
  margin-top: 30px;
  font-size: 2rem;
  line-height: 1.5;
  border-radius: 49px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.CTA button:hover {
  background: var(--color1);
  border: 1px solid var(--color1);
}

/* Footer */
footer {
  background: var(--color1);
  padding: 70px;
  font-size: 1rem;
}
@media (max-width: 992px) {
  footer {
    padding: 20px;
  }
}
footer .footer-item {
  display: flex;
  flex-wrap: wrap;
}
footer h4 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 1rem 0;
}
footer ul{
  list-style: none;
  padding: 0;
}
footer a {
  font-weight: 600;
  line-height: 2;
}
footer p {
  font-weight: 600;
  font-size: 1.5rem;
}
footer .footer-map {
  margin-top: -100px;
  padding: 70px;
  background-color: var(--color1);
  border-radius: 49px;
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 992px) {
  footer .footer-map {
    margin-top: 0;
    padding: 30px3;
  }
}
footer .social-links {
  color: var(--color6);
  padding: 4px 5px;
  display: inline-block;
  font-size: 2rem;
  transition: 0.3s;
}
footer .social-links a:hover {
  color: var(--color2);
}

/* Back-to-top button */
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: var(--color2);
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 28px;
    color: var(--color4);
    line-height: 0;
  }
  .back-to-top:hover {
    background: var(--color1);
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }